# provision-template.yml
# ansible-playbook -i inventory.yml --ask-vault-pass provision-template.yml
# Reference https://pve.proxmox.com/pve-docs/qm.1.html for qm commands & config
---
- hosts: proxmox
  gather_facts: false
  vars_files:
    - vars.yml
  
  tasks:
    # Get next available Proxmox VE VMID, semi-random, idempotent, seed from hostname & template_name
    - name: Get available VMID
      command: pvesh get /cluster/nextid    
      register: next_vmid
      failed_when: next_vmid.rc != 0

    # Create temp directory
    - name: Create temp directory
      file:
        path: /tmp/{{template_name}}
        state: directory
    
    # Template out autounattend answer file    
    - name: Template out autounattend answer file        
      template:
        src: ./autounattend.xml
        dest: /tmp/{{template_name}}/autounattend.xml

    # Copy drivers & scripts for ISO         
    - name: Copy files for ISO
      copy:
        src: iso-files/
        dest: /tmp/{{template_name}}/

    # Create ISO with drivers, scripts, & answer file    
    - name: Create ISO file
      become: true
      command: "genisoimage -J -r -o /var/lib/vz/template/iso/{{template_name}}Provision.iso /tmp/{{template_name}}/"
      register: iso_created       

    # Create VM
    - name: Create VM
      command: >
        qm create {{ next_vmid.stdout }}
        --name {{ template_name }}
        --sockets {{ vm_sockets }}
        --cores {{ vm_cores }}
        --memory {{ vm_memory_mb }}
        --ostype {{ vm_os_type }}
        --agent "{{ agent }}"
        --bios ovmf
        --machine {{ machine }}
        --efidisk0 {{ efidisk0.storage }}:1,efitype={{ efidisk0.efitype }},format={{ efidisk0.format }},pre-enrolled-keys={{ efidisk0.pre_enrolled_keys | ternary(1,0) }}
        --tpmstate0 {{ tpmstate0.storage }}:1,version={{ tpmstate0.version }}
        --scsihw virtio-scsi-single
        --scsi0 {{ pve_storage_id }}:{{ drive_size_gb }},format={{ format }}
        --net0 model=virtio,bridge=vmbr0,firewall=1
        --ide0 {{ os_iso_location }},media=cdrom
        --ide2 file=local:iso/{{template_name}}Provision.iso,media=cdrom
        --boot "{{ boot }}"
        --onboot {{ start_at_boot | ternary(1,0) }}
        --cpu {{cpu_type}}

    # Start VM
    - name: Start VM
      command: "qm start {{next_vmid.stdout}}"

    # Wait a little bit
    - name: Wait for VM to boot a little
      pause:
        seconds: 8


    # Sed Key to boot from DVD
    - name: Click to boot from DVD
      command: "qm sendkey {{next_vmid.stdout}} ret"

    # Wait for VM build
    - name: Wait for OS install, config, update, sysprep. Up to 120 min. Monitor status if possible.
      command: "qm wait {{next_vmid.stdout}}"    
      async: 7200
      poll: 30  

    # Remove CD drives
    - name: Remove IDE CD Drives
      command: "qm set {{next_vmid.stdout}} --delete ide2 --delete ide3"

    # Create template from VM
    - name: Create template
      command: "qm template {{next_vmid.stdout}}"        

    # Remove ISO
    - name: Remove Unattend ISO file
      file:
        path: /var/lib/vz/template/iso/{{template_name}}Provision.iso
        state: absent

    # Cleanup temp files
    - name: Cleanup temp files used for ISO build
      file:
        path: /tmp/{{template_name}}
        state: absent
      when: iso_created.changed      

    - name: Done
      debug:
        msg: Template build {{template_name}}, with VMID {{next_vmid.stdout}} complete.
      
